* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  background-color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 5px 10px 18px #888888;
}
.nav-links {
  text-decoration: none;
}
.nav-links a {
  font-family: "Signika", sans-serif;
  text-decoration: none;
  padding: 5px;
  justify-content: space-around;
  margin: 20px;
}
.plan-pic1-bg {
  text-align: center;
  background: linear-gradient(rgba(32, 32, 32, 0.096), rgba(51, 51, 51, 0.356)),
    url(./Image/plan.pic1.2.jpg) center/cover no-repeat;
  height: 75vh;
  width: 100%;
}
.plan-pic2-bg {
  text-align: center;
  background: linear-gradient(rgba(32, 32, 32, 0.096), rgba(51, 51, 51, 0.356)),
    url(./Image/plan.pic2.3.jpg) center/cover no-repeat;
  height: 75vh;
  width: 100%;
}
.plan-pic3-bg {
  text-align: center;
  background: linear-gradient(
      rgba(99, 98, 98, 0.144),
      rgba(102, 102, 102, 0.116)
    ),
    url(./Image/plan.pic3.6.jpg) center/cover no-repeat;
  height: 75vh;
  width: 100%;
}
.plan-pic4-bg {
  text-align: center;
  background: linear-gradient(rgba(32, 32, 32, 0.096), rgba(51, 51, 51, 0.356)),
    url(./Image/plan.pic4.2.jpg) center/cover no-repeat;
  height: 75vh;
  width: 100%;
}
.plan-pic5-bg {
  text-align: center;
  background: linear-gradient(rgba(32, 32, 32, 0.096), rgba(51, 51, 51, 0.356)),
    url(./Image/plan.pic5.3.jpg) center/cover no-repeat;
  height: 75vh;
  width: 100%;
}
.plan-pic6-bg {
  text-align: center;
  background: linear-gradient(rgba(32, 32, 32, 0.096), rgba(51, 51, 51, 0.356)),
    url(./Image/plan.pic6.2.jpg) center/cover no-repeat;
  height: 75vh;
  width: 100%;
}
.plan-pic1-back {
  text-align: center;
  flex-wrap: wrap;
  padding-top: 250px;
}
.plan-pic1-bg h1,
.plan-pic2-bg h1,
.plan-pic3-bg h1,
.plan-pic4-bg h1,
.plan-pic5-bg h1,
.plan-pic6-bg h1 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  font-size: 25px;
  color: white;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.plan-pic1-bg a,
.plan-pic2-bg a,
.plan-pic3-bg a,
.plan-pic4-bg a,
.plan-pic5-bg a,
.plan-pic6-bg a {
  color: white;
  background-color: rgba(36, 35, 35, 0.418);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
  font-size: 25px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
}
.plan-pic1-p {
  background-color: rgb(231, 230, 230);
  align-items: center;
  text-align: justify;
  justify-content: space-around;
}
.plan-pic1-sub-p {
  padding: 35px;
  line-height: 30px;
  font-size: 18px;
  flex-wrap: wrap;
}
.plan-pic1-p1 {
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
  flex-wrap: wrap;
}
